<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anderson | Home</title>
    <%- include('partials/head')%>
</head>
<body class="main-body">
    <%- include('partials/nav')%>

    <div class="container fondo-superior">
        <header class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="" alt="" class="w-25">
                <h1 class="display-1 my-5 text-uppercase fw-bold">Anderson Mendez.</h1>
                <a href="https://github.com/Antonix7" class="btn btn-primary w-25">GitHub</a>
            </div>>
        </header>
    </div>
    <div class="container">
        <%- include('partials/card1')%>
    </div>

    <style>
        .main-body {
            background-color: black;
            color: white;
        }
        .fondo-superior {
            background-image: url('/imgs/wallpaperPage.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 70vh;
        }        
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
</body>
</html>